<app-home></app-home>

<div class="card" *ngIf="loading == true">
	<div class="card-header">
		<h3 class="card-title">Innovations - <span style="color: #007E3A; font-weight: bold;">Chargement en
				cours ...</span></h3>
	</div>
	<div class="d-flex justify-content-center">
		{{alertLoading}}
	</div>
</div>

<div class="card" *ngIf="loading == false">
	<div class="row">
		<div class="col-md-3 mt-3 d-flex justify-content-center">
			Innovations - Participants : <span class="ml-1"
				style="color: #007E3A;"><strong>{{innivationNumber}}</strong></span>
		</div>

		<div class="col-md-2">
			<mat-form-field>
				<mat-select [ngModel]="dataSourceInnovation" (selectionChange)="selectCedar($event.value)">
					<mat-option value="">Tous</mat-option>
					<mat-option *ngFor="let domaine of domaines" value="{{ domaine.domaineName }}" class="sl-cedar">
						{{ domaine.domaineName }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>

	<div class="card-body">
		<div class="row">
			<table datatable class="row-border hover" [dtOptions]="dtOptions" style="width: 100%;">
				<thead style="background-color: #007E3A; color: #fff;">
					<tr>
						<th style="min-width: 100px;"> Exploitant </th>
						<th> Domaine </th>
						<th> Adhésion </th>
						<th> Innovations acquises </th>
						<th> Nombre inn. ac. </th>
						<th> Innovations appliquées </th>
						<th> Nombre inn. appl. </th>
						<th> Innovations personelles</th>
						<th> Nombre inn. pers. </th>
						<th> Localisation </th>
						<th> Activités </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of dataSourceInnovation.filteredData" (click)="openModal(item)" class="cursor-cl">
						<td>{{item.exploitantFirstName | uppercase}} <br>
							{{item.exploitantLastName | titlecase}}<br>
							{{item.exploitantAge}} ans - {{item.exploitantSex | slice:0:1}}
						</td>

						<td>{{item.exploitantCedar}}</td>

						<td>{{item.exploitantDate | date: 'dd/MM/yyyy'}}</td>

						<!-- inn acq -->
						<td style="color: #8A0E5C;">
							<span *ngFor="let row of item.innoAcqui">
								<b>{{ row }}</b>
							</span>
						</td>

						<td class="text-center" style="color: #8A0E5C;">
							<span *ngFor="let row of item.innoAcqui; count as c; last as isLast">
								<span *ngIf="isLast"><b>{{ c }}</b></span>
							</span>
						</td>

						<!-- inn app  #DE3E59 -->
						<td style="color: #DE3E59;">
							<span *ngFor="let row of item.innoAppli">
								<b>{{ row }}</b>
							</span>
						</td>

						<td class="text-center" style="color: #DE3E59;">
							<span *ngFor="let row of item.innoAppli; count as c; last as isLast">
								<span *ngIf="isLast"><b>{{ c }}</b></span>
							</span>
						</td>

						<!-- inn pers ##162350 -->
						<td style="color: #162350;">
							<span *ngFor="let row of item.innoPerso">
								<b>{{ row }}</b>
							</span>
						</td>

						<td class="text-center" style="color: #162350;">
							<span *ngFor="let row of item.innoPerso; count as c; last as isLast">
								<span *ngIf="isLast"><b>{{ c }}</b></span>
							</span>
						</td>

						<td>{{item.exploitantRegion | titlecase}} <br>
							{{item.exploitantDistrict | titlecase}}
						</td>

						<td>{{item.exploitantActivite1 | titlecase}} <br>
							{{item.exploitantActivite2 | titlecase}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>