<app-home></app-home>

<div class="card" *ngIf="loading == true">
	<div class="card-header">
		<h3 class="card-title">Formations - <span style="color: #007E3A; font-weight: bold;">Chargement en
				cours ...</span></h3>
	</div>
	<div class="d-flex justify-content-center">
		{{alertLoading}}
	</div>
</div>

<div class="card" *ngIf="loading == false">
	<div class="row">
		<div class="col-md-3 mt-3 d-flex justify-content-center">
			Formations - Participants : <span class="ml-1" style="color: #007E3A;"><strong>{{formationNumber}}</strong></span>
		</div>

		<div class="col-md-2">
			<mat-form-field>
				<mat-select [ngModel]="dataSourceformations" (selectionChange)="selectCedar($event.value)">
					<mat-option value="tous">Tous</mat-option>
					<mat-option *ngFor="let domaine of domaines" value="{{ domaine.domaineName }}" class="sl-cedar">
						{{ domaine.domaineName }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>

	<div class="card-body">
		<div class="row">
			<table datatable class="row-border hover" [dtOptions]="dtOptions">
				<thead style="background-color: #007E3A; color: #fff;">
					<tr>
						<th> Exploitant </th>
						<th> Domaine </th>
						<th> Adhésion </th>						
						<th style="min-width: 150px;"> Formations </th>
						<th> Date formation </th>
						<th> Nombre </th>
						<th> Localisation </th>
						<th> Compétences </th>
						<th> Niveau d'étude </th>
						<th> Activités </th>
						<th> Spécialités </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of dataSourceformations.filteredData"  (click)="openModal(item)">
						<td>{{item.exploitantFirstName | uppercase}} <br>
							{{item.exploitantLastName | titlecase}}<br>
							{{item.exploitantAge}} ans - {{item.exploitantSex | slice:0:1}}
						</td>

						<td>{{item.exploitantCedar}}</td>

						<td>{{item.exploitantDate | date: 'dd/MM/yyyy'}}</td>						

						<td style="color: #DE3E59;">
							<span *ngFor="let row of item.formations">
								<b>{{ row.formationName }}</b><br>
							</span>
						</td>

						<td style="color: #DE3E59;">
							<span *ngFor="let row of item.formations">
								<b>{{ row.formationDate | date: 'dd/MM/yyyy'}}</b><br>
							</span>
						</td>

						<td class="text-center" style="color: #DE3E59;">
							<div *ngFor="let row of item.formations; count as c; last as isLast">
								<span *ngIf="isLast"><b>{{ c }}</b></span>
							</div>
						</td>

						<td>{{item.exploitantRegion | titlecase}} <br>
							{{item.exploitantDistrict | titlecase}}
						</td>

						<td>{{item.exploitantFormation | titlecase}}</td>

						<td>{{item.exploitantSchooling | titlecase}}</td>

						<td>{{item.exploitantActivite1 | titlecase}} <br>
							{{item.exploitantActivite2 | titlecase}}
						</td>

						<td>{{item.exploitantSpeciality1 | titlecase}} <br>
							{{item.exploitantSpeciality2 | titlecase}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>