<app-home></app-home>

<div class="card" *ngIf="loading == true">
    <div class="card-header">
        <h3 class="card-title">Cunniculture - <span style="color: #007E3A; font-weight: bold;">Chargement en
                cours ...</span></h3>
    </div>
    <div class="d-flex justify-content-center">
        {{alertLoading}}
    </div>
</div>

<div class="card" *ngIf="loading == false">
    <div class="row">
        <div class="col-md-3 mt-3 d-flex justify-content-center">
            Cunniculture
        </div>

        <div class="col-md-2">
            <mat-form-field>
                <mat-select [ngModel]="listData" (selectionChange)="selectCedar($event.value)">
                    <mat-option value="tous">Tous</mat-option>
                    <mat-option *ngFor="let domaine of domaines" value="{{ domaine.domaineName }}" class="sl-cedar">
                        {{ domaine.domaineName }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <table datatable class="row-border hover" [dtOptions]="dtOptions">
                <thead style="background-color: #007E3A; color: #fff;">
                    <tr>
                        <th style="min-width: 150px;"> Exploitant </th>
                        <th> Domaine </th>
                        <th> Adhésion </th>
                        <th>Nrb de tête</th>
                        <th>Production viande</th>
                        <th style="min-width: 200px;">Technique élevage</th>
                        <th> Localisation </th>
                        <th> Compétences </th>
                        <th> Activités </th>
                        <th> Spécialités </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listData.filteredData" (click)="openModal(item)" class="cursor-cl">
                        <td>{{item.exploitantFirstName | uppercase}} <br>
                            {{item.exploitantLastName | titlecase}}<br>
                            {{item.exploitantAge}} ans - {{item.exploitantSex | slice:0:1}}
                        </td>
                        <td>{{item.exploitantCedar}}</td>
                        <td>{{item.exploitantDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center" style="color: #DE3E59;"><b>{{item.headNumber}}</b></td>
                        <td class="text-center" style="color: #DE3E59;"><b>{{item.meatProd}}</b></td>
                        <td style="color: #DE3E59;">
                            <span *ngFor="let row of item.otherTechs">
                                <b>. {{ row }}</b><br>
                            </span>
                        </td>
                        <td>{{item.exploitantRegion | titlecase}} <br>
                            {{item.exploitantDistrict | titlecase}}
                        </td>
                        <td>{{item.exploitantFormation | titlecase}}</td>
                        <td>{{item.exploitantActivite1 | titlecase}} <br>
                            {{item.exploitantActivite2 | titlecase}}
                        </td>
                        <td>{{item.exploitantSpeciality1 | titlecase}} <br>
                            {{item.exploitantSpeciality2 | titlecase}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>